<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Control de Graduados</title>
</head>

<body>
    <div id="container">
        <% include ../partials/head.html %>
        <%- include('../partials/navigation.html', obj) %>
        <div id="body">

            <h1>Importar archivos</h1>
            <br><br><br><br>

            <div class="container">
                <textarea rows="20"> </textarea>

                <br>
                <br>
                <br>
            </div>
        </div>
        <% include ../partials/footer.html%>
    </div>
</body>

</html>